body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Set background color */
}

.project {
  background-color: #fff; /* Set project background color */
  padding: 20px;
  margin: 20px auto; /* Center the project */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.project-title {
  color: #b80000;
  margin-bottom: 10px;
  font-size: 24px; /* Increase font size */
}

.project-content {
  background-color: #f9f9f9; /* Set content background color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.project-content p {
  margin-bottom: 10px;
  font-size: 16px; /* Increase font size */
}

.technologies {
  padding: 10px;
  border-radius: 5px;
}

.technologies h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333; /* Set text color */
  font-size: 18px; /* Increase font size */
}

.technologies ul {
  list-style-type: none;
  padding: 0;
}

.technologies li {
  display: inline-block; /* Change display to inline-block */
  margin-right: 10px;
  background-color: #ddd;
  padding: 5px 10px; /* Add padding */
  border-radius: 20px; /* Increase border-radius */
  font-size: 14px; /* Decrease font size */
  color: #555; /* Set text color */
  text-transform: uppercase; /* Convert text to uppercase */
  transition: background-color 0.3s ease; /* Add transition effect */
}

.technologies li:hover {
  background-color: #b80000; /* Change hover background color */
  color: #fff; /* Change text color */
}
